.slider__item 
    .slider__item-per - 20 %
    img(src="./images/section-one/slider/item1.png" alt="")
    h2.slider__item-text Детские блокираторы
    .slider__item-price 700 руб – 20% = 
        span 560 
            span руб! 