.slider__item 
    .slider__item-per - 35 %
    img(src="./images/section-one/slider/item3.png" alt="")
    h2.slider__item-text(style="font-size: 27px;") Заглушка паза штапика в нижнюю раму
    .slider__item-price 150 руб – 35% = 
        span 100 
            span руб!  