.slider__item 
    .slider__item-per - 15 %
    img(src="./images/section-one/slider/item2.png" alt="")
    h2.slider__item-text(style="font-size: 26px;") Гребенка для фиксации приоткрытой створки
    .slider__item-price 350 руб – 15% =  
        span 297 
            span руб! 