.slider__item 
    .slider__item-per - 10 %
    img(src="./images/section-one/slider/item4.png" alt="")
    h2.slider__item-text(style="font-size: 27px;") При обслуживании <span>4х</span><br> и более створок скидка
    .slider__item-price 
        span -10
            span % 