.slider__item 
    .slider__item-per - 10 %
    img(src="./images/section-two/item1.png" alt="")
    h2.slider__item-text(style="font-size: 27px;") Приточный клапан на окно <span>Air-Box ECO</span>
    .slider__item-price 2500 руб – 10% = 
        span 2250  
            span руб!