// start about

section.about 
    .container
        h2.left-header О КОМПАНИИ: 
        .about__inner 
            .about__top 
                .about__text 
                    p.text18 <b>Служба Ремонта Окон на Плоретарской</b> предоставляет услуги <br>в Томске <b>с 2013 г.</b> 
                    p.text18 <b>Наша деятельность:</b> сервисное обслуживание современных окон и дверей, продажа и установка сопутствующих товаров и аксессуаров, модернизация, дизайнерская отделка и украшение установка вентиляционных приборов. 
                    p.text18 <b>Наша миссия</b> - решить задачу клиента лучшим образом, самым высоким качеством с использованием современных и надежных технологий и материалов. <b>Наш принцип</b> – соблюдение графика, экономия своего времени и времени Клиента.
                .about__img 
                    img(src="./images/about/photo.jpg", alt="photo")
                    img(src="./images/about/photo.jpg", alt="photo")
            .about__bottom 
                .about__item 
                    .about__title.text18 СВЯЖИТЕСЬ С НАМИ УДОБНЫМ СПОСОБОМ!
                    a(href="tel:83822303541") 8 (3822) 30‒35‒41 
                    a(href="tel:89138200512") 8‒913‒820‒05‒12
                    p ул. Пролетарская 38В, оф. 38 
                    a(href="mailto:uspeh-org@yandex.ru") uspeh-org@yandex.ru 
                    a(href="http://remontokon-tomsk.ru", target="_blank") remontokon-tomsk.ru  
                    a.header__btn.text16.whatsapp(href="#") Написать в Whatsapp
                .about__item 
                    .about__title.text18 ГРАФИК <br>РАБОТЫ:
                    p.about__item-text ОФИС ПРОДАЖ:
                    .about__item-para
                        p пн-пт: с 09:00 до 18:00; 
                        p обед с 13:00 до 14:00; 
                        p сб: с 10:00 до 16:00; 
                    p.about__item-text МАСТЕРА: 
                    .about__item-paragraph
                        p пн-пт: с 10:00 до 20:00; 
                        p сб: с 11:00 до 16:00;
                .about__item 
                    .about__item-title Посмотрите другие наши услуги по ремонту и обслуживанию окон
                    a.about__btn(href="#") СМОТРЕТЬ
                .about__items 
                    .about__map Организация на карте
                    .about__link 
                        .about__link-text Присоединяйтесь к нам в Instagram и VK
                        a.about__vk(href="#") 
                            img(src="./images/about/vk.svg", alt="vk")
                        a.about_inst(href="#") 
                            img(src="./images/about/inst.svg", alt="instagram")

// end about