// start air-box

section.air-box 
    .container
        h2.air-box__title.right-header ПРИТОЧНЫЕ КЛАПАНЫ НА ОКНА AIR-BOX
        .air-box__inner
            .air-box__top 
                .air-box__img 
                    img(src="./images/air-box/image.jpg" alt="air-box")
                .air-box__texts
                    p.air-box__p <b>Аir-Box</b> – призваны обеспечить нормальный  воздухообмен в квартирах, домах и офисах, оборудованных герметичными современными окнами.
                    ul 
                        li затхлый воздух, повышенная влажность, появление плесени и грибка на окнах и стенах.
                        li не надо открывать окна, что исключает попадание шума, пыли, резкие перепады температур.
                        li Гарантия: 12 месяцев.
            .air-box__middle 
                h3 ПОДБЕРЕМ ОПТИМАЛЬНЫЙ ВАРИАНТ ДЛЯ ВАС!
                .middle__item 
                    .middle__item-title Air-Box Comfort
                    p Установка на створку окна, без фрезеровки. Расход воздуха до 31 м3/час, плавная ручная  регулировка, размеры 350x42,5x8,5/20,5 мм, цвет белый/коричневый.
                        span 1500 руб.
                    p (с монтажом)
                .middle__item 
                    .middle__item-title Air-Box Comfort S
                    p Установка на глухое окно, с фрезеровкой. Расход воздуха до 41 м3/час, плавная ручная регулировка, размеры 350x29x16 мм, цвет белый/коричневый.
                        span 3500 руб.
                    p (монтаж+уличный козырек)
                .middle__item 
                    .middle__item-title Air-Box ECO 
                        span с фильтром класса G3
                    p Установка без фрезеровки на створку окна. Расход воздуха до 26 м3/час, плавная ручная регулировка, размер внутреннего блока 350x42,5x8,5 мм, размер наружного блока 355x17x35 мм, цвет белый.
                        span 2500 руб.
                    p (с монтажом)
            .air-box__bottom
                .air-box__pred 
                    .air-box__pred-title Дополнительно рады предложить:
                    p Фильтр для Air-Box ECO класса G2 - 370 руб.
                    p Фильтр для Air-Box ECO класса G3 - 340 руб.
                    p Фильтр для Air-Box ECO класса G4 - 370 руб.
                .air-box__img 
                    img(src="./images/air-box/img.png", alt="window")
                .air-box__paragraph 
                    p <b>Приточные клапаны на Окна Air-Box</b> – один из наиболее бюджетных и простых способов обеспечения постоянного проветривания квартир и офисов. Постоянный приток свежего воздуха без шума, пыли и перепадов температур. <b>Клапаны Air-Box</b> зарекомендовали себя, как простой и надежный способ избавления от конденсата на окнах, насыщения воздуха кислородом. Эти клапаны являются пассивными источниками свежего воздуха и для их работы необходимо наличие вытяжки в помещении.


// end air-box