// start atmosfera

section.atmosfera
    .container 
        .atmosfera__inner 
            .atmosfera__text
                h2.atmosfera__title С ЗАБОТОЙ ОБ АТМОСФЕРЕ ВАШЕГО ДОМА!
                .atmosfera__str.text18 ПОДГОТОВКА ОКОН К ЗИМЕ И ОБСЛУЖИВАНИЕ ОКОН ОТ ПРОФЕССИОНАЛОВ.
                a.atmosfera__btn(href="#") РАССЧИТАТЬ СТОИМОСТЬ
                p *Вы можете рассчитать стоимость услуг онлайн, либо заказать выезд мастера для подробной консультации
            .atmosfera__img 
                img(src="./images/atmosfera/man.png", alt="man")

// end atmosfera