// start footer

footer.footer 
    .container 
        .footer__inner 
            .footer__text (c) 2020 Служба Ремонта Окон на Плоретарской
            .footer__text Предложения, указанные на сайте, не являются публичной офертой. Фактическая цена может отличаться от заявленной в зависимости от размеров, комплектации, выбора материалов.
            .footer__text Разработано WebSeversk

// end footer