// start header

header.header 
    .container 
        .header__inner 
            .header__top 
                .header__text.text18 СЛУЖБА РЕМОНТА НА ПРОЛЕТАРСКОЙ
                .header__info
                    a.header__map.text16(href="#") Работаем по Томску,<br> Северску и области
                    a.header__btn.text16(href="#") Написать в Whatsapp
                    a.header__phone(href="tel:83822500512")
                        h3 8 (3822) 50-05-12
            .header__bottom 
                .header__logo 
                    img(src="./images/logo.png", alt="Тепло Окно")
                nav.header__menu 
                    ul.header__menu-list 
                        li
                            a.text18(href="#") Подарок от ПРОФИ
                        li
                            a.text18(href="#") Наши СпецЗаказы
                        li
                            a.text18(href="#") О компании
// end header