// start master

section.master  
    .container 
        .master__inner 
            .master__img 
                img(src="./images/master/master.png", alt="master")
            .master__text 
                h2 ПОЧЕМУ ЛУЧШЕ ВЫЗВАТЬ МАСТЕРА НА ДОМ?
                p Вы можете задать все интересующие Вас вопросы; 
                p На месте Мастер может дать адекватную оценку состояния окон, а также подобрать оптимальное решение для Вас; 
                p Вы получите фиксированный расчет стоимости услуг
                a.master__btn(href="#") выезд мастера

// end master