.photo__item 
    .item 
        img(src="./images/photo/item1.png", alt="photo")
        p.text16 Небольшое описание <br>фотографии
    .item 
        img(src="./images/photo/item2.png", alt="photo")
        p.text16 Небольшое описание <br>фотографии
    .item 
        img(src="./images/photo/item3.png", alt="photo")
        p.text16 Небольшое описание <br>фотографии
    .item 
        img(src="./images/photo/item4.png", alt="photo")
        p.text16 Небольшое описание <br>фотографии
    .item 
        img(src="./images/photo/item5.png", alt="photo")
        p.text16 Небольшое описание <br>фотографии
    .item 
        img(src="./images/photo/item6.png", alt="photo")
        p.text16 Небольшое описание <br>фотографии