// start photo

section.photo 
    .container 
        .photo__inner 
            include photo-item.pug
            include photo-item.pug
            include photo-item.pug
            include photo-item.pug
            include photo-item.pug
            include photo-item.pug

// end photo