// start photo

section.photo 
    .container 
        h2.section-one__title.left-header ПОСМОТРИТЕ ФОТО НАШИХ СПЕцзаказов
        .photo__inner 
            include photo-item.pug
            include photo-item.pug
            include photo-item.pug
            include photo-item.pug
            include photo-item.pug
            include photo-item.pug

// end photo