// start section-one

section.section-one 
    .container 
        h2.section-one__title.left-header ВКЛЮЧАЕМ ЗИМНИЙ РЕЖИМ ПО НИЗКОЙ ЦЕНЕ! 
        .section-one__inner 
            .section-one__left 
                .section-one__top 
                    h3 Что входит в услугу?
                    ul.top__list 
                        li Очистка уплотнителя от загрязнений и смазка силиконом;
                        li Усиление прижима; 
                        li Смазка и протяжка фурнитуры;
                        li Гарантия: отсутствует.
                .section-one__bottom
                    h3 Сколько стоит?
                    ul.bottom__list 
                        li Форточка #{'(S<0,5 м2.)'}: 250 руб.
                        li Оконная створка #{'(0,5<S<1 м2)'}: 350 руб.
                        li Балконная дверь: 450 руб.
            .section-one__right
                h3 Что Вы получите в итоге?
                ul.right__list 
                    li после смазки фурнитуры: бесшумная и легкая работа фурнитуры, увеличение срока службы; 
                    li после обработки уплотнителя: повышение эластичности и долговечности уплотнителя, уплотнитель не примерзает к пластику, более плотное прилегание уплотнителя повышает герметичность; 
                    li после усиления прижима: уменьшение продуваний, повышение шумоизоляции; 
                    li общий результат: повышение срока.
                p.right__attn Внимание! Данная услуга подходит для створок с полностью исправной фурнитурой и уплотнителем, и не устраняет дефекты в работе фурнитуры. Если в работе створок есть какие-то дефекты, то необходимо проводить Большую Регулировку. 
                a.right__btn(href="#") выезд мастера
                p.right__p *Диагностика бесплатно (при условии проведения работ).
                p.right__p Выезд в пригород и удаленные районы оплачиваются по тарифам организации. 
        .section-one__slider.slider 
            h2.slider__title Вместе с Зимником дешевле!
            .slider__inner
                include banner/banner4.pug
                include banner/banner2.pug 
                include banner/banner1.pug
                include banner/banner3.pug 
            .slider__dots 
                .dot -10%
                .dot -15%
                .dot -20%
                .dot -35%

// end section-one
