// start section-three

section.section-one.section-three 
    .container 
        h2.section-one__title.left-header КОМПЛЕКСНАЯ ПОДГОТОВКА ОКОН К ЗИМЕ 
        .section-one__inner 
            .section-one__left 
                .section-one__top 
                    h3 Что входит в услугу?
                    ul.top__list 
                        li Замена уплотнителя на створке и раме; 
                        li Настройка работы фурнитуры, мелкий ремонт, не требующий замены деталей; 
                        li Смазка фурнитуры, протяжка винтов и креплений; 
                        li Установка оптимального прижима створки;
                        li Правильная расстановка ответных планок; 
                        li Исправление геометрического провисания створки;
                        li Увеличенная гарантия: 12 месяцев.
                .section-one__bottom
                    h3 Сколько стоит?
                    ul.bottom__list 
                        li Створка ПВХ (S=0,5м²–0,9м²-1,1м²) 
                        li Черный уплотнитель <br>1000 – 1700 – 1900 руб. 
                        li Белый/Серый уплотнитель  <br>1150 – 1850 – 2050 руб. 
                        li Балконная дверь ПВХ   <br>( S= 1,1м² – 1,4 м² - 1,7м²) 
                        li Черный уплотнитель  <br>2000 – 2500 – 3000 руб. 
                        li Белый/Серый уплотнитель  <br>2150 – 2650 – 3300 руб.
            .section-one__right
                img(src="./images/section-three/photo.png" alt="")
                h3 Подробнее о комплексном обслуживании:
                ul.right__list 
                    li Самая популярная услуга по восстановлению оконных створок и дверей, включает полный перечень работ для восстановления заводских характеристик и даже сделать их лучше;
                    li Рекомендуем устанавливать серый или белый уплотнитель, даже если на окнах стоит черный, т.к. у него больше срок службы и выше качество. Также, створки приобретают более приятный внешний вид;
                    li При комплексном обслуживании на регулировку даем увеличенную гарантию 12 мес. 
                a.right__btn(href="#") выезд мастера
                p.right__p *Диагностика бесплатно (при условии проведения работ).
                p.right__p Выезд в пригород и удаленные районы оплачиваются по тарифам организации. 
        .section-one__slider.slider 
            h2.slider__title Вместе с Комплексом дешевле!
            .slider__inner
                include banner/banner4.pug
                include banner/banner2.pug 
                include banner/banner1.pug
                include banner/banner3.pug 
            .slider__dots 
                .dot -10%
                .dot -15%
                .dot -20%
                .dot -35%

// end section-three
