// start section-two

section.section-one.section-two 
    .container 
        h2.section-one__title.right-header Большая регулировка окон на зиму 
        .section-one__inner.section-two__inner 
            .section-one__left.section-two__left 
                .section-one__top 
                    h3 Что входит в услугу?
                    ul.top__list 
                        li Настройка работы фурнитуры, мелкий ремонт, не требующий снятия створки и замены деталей;
                        li Смазка фурнитуры, протяжка винтов и креплений;
                        li Усиление прижима створки;
                        li Правильная расстановка ответных планок;
                        li Очистка уплотнителя от загрязнений,
                        li смазка уплотнителя силиконом;
                        li Гарантия:  6 месяцев.
                .section-one__bottom
                    h3 Сколько стоит?
                    ul.bottom__list 
                        li Окно/форточка (зависит от S) <br>0,5м²–0,9м²-1,1м² <br>300–600–700 руб.
                        li Балконная дверь (зависит от S) <br>1,1м² – 1,4 м²-1,7м² <br>700 – 800 – 950 руб.
            .section-one__right
                img(src="./images/section-two/photo.png", alt="img" width="880")
                h3 Что Вы получите в итоге?
                ul.right__list 
                    li после смазки фурнитуры: бесшумная и легкая работа фурнитуры, увеличение срока службы; 
                    li после обработки уплотнителя: повышение эластичности и долговечности уплотнителя, уплотнитель не примерзает к пластику, более плотное прилегание уплотнителя повышает герметичность; 
                    li после усиления прижима: уменьшение продуваний, повышение шумоизоляции; 
                    li общий результат: повышение срока.
                p.right__attn Внимание! Данная услуга подходит для створок с полностью исправной фурнитурой и уплотнителем, и не устраняет дефекты в работе фурнитуры. Если в работе створок есть какие-то дефекты, то необходимо проводить Большую Регулировку. 
                a.right__btn(href="#") выезд мастера
                p.right__p *Диагностика бесплатно (при условии проведения работ).
                p.right__p Выезд в пригород и удаленные районы оплачиваются по тарифам организации. 
        .section-two__slider.slider 
            h2.slider__title Вместе с Регулировкой дешевле!
            .slider__inner
                include banner2/banner3.pug
                include banner2/banner3.pug
                include banner2/banner3.pug
                include banner2/banner2.pug 
                include banner2/banner2.pug
                include banner2/banner1.pug 
            .slider__dots 
                .dot -10%
                .dot -10%
                .dot -10%
                .dot -30%
                .dot -30%
                .dot -50%

// end section-two
