// start sezon

section.sezon 
    .container 
        .sezon__inner 
            .sezon__left 
                h1.sezon__h1 СЕЗОНКА ДЛЯ ОКОН 2020
                h2.sezon__h2 ХОРОША ЗИМА, КОГДА ТЕПЛО У ОКНА!
                .sezon__tt Профессиональные услуги по ремонту и обслуживанию окон
                a.sezon__btn(href="#") КАЛЬКУЛЯТОР УСЛУГ
                p.sezon__p.text16 Рассчитаем стоимость услуг за 5 минут! 
                p.sezon__p.text16 подарим скидку или подарок!
            .sezon__right
                .sezon__img(style="background-image: url(./images/sezon/window.png);")
                .sezon__button 
                    .btn 
                        .btn__text ЗИМНИЙ РЕЖИМ ДЛЯ ОКОН
                    .btn 
                        .btn__text БОЛЬШАЯ РЕГУЛИРОВКА ОКОН
                    .btn 
                        .btn__text КОМПЛЕКСНАЯ ПОДГОТОВКА
                    .btn 
                        .btn__text ПРИТОЧНЫЕ КЛАПАНЫ AIR-BOX

// end sezon